{% extends "layout.html" %}

{% block title %}
    Logar
{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .about { display: none;}
  </style>
{% endblock %}

{% block header %}
<div class="alert alert-primary alert-dismissible fade show" role="alert" style="text-align: center;">
    <strong> {{ get_flashed_messages() | join(" ") }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
        
{% endblock %}

{% block div %}
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Usuário" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Senha" type="password">
        </div>
        <button class="btn btn-primary btn-dark" type="submit">Logar</button>
        <a type="button" class="btn btn-primary btn-dark" href="/alterarsenha"> Alterar senha</a>
    </form>
{% endblock %}